openapi: 3.0.3
info:
  title: 'rabin pizza Docs'
  description: ''
  version: 1.0.0
servers:
  -
    url: 'https://rabin.karo.studio'
paths:
  /api/address:
    get:
      summary: 'Show All Addresses'
      description: 'This endpoint shows all addresses of specific user'
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                example:
                  -
                    id: 3
                    client_id: 2
                    title: Home
                    address: 'USA , LA'
                    lat_lng: ''
                  -
                    id: 4
                    client_id: 2
                    title: 'Office '
                    address: 'Germany , Hamburg'
                    lat_lng: ''
        401:
          description: Unauthenticated
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Addresses
    post:
      summary: 'Create Address'
      description: 'This endpoint creates address of specific user'
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: object
                example:
                  id: 3
                  client_id: 2
                  title: Home
                  address: 'USA , LA'
                  lat_lng: ''
                properties:
                  id:
                    type: integer
                    example: 3
                  client_id:
                    type: integer
                    example: 2
                  title:
                    type: string
                    example: Home
                  address:
                    type: string
                    example: 'USA , LA'
                  lat_lng:
                    type: string
                    example: ''
        401:
          description: Unauthenticated
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Addresses
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                address:
                  type: string
                  description: ''
                  example: eius
                title:
                  type: string
                  description: ''
                  example: null
                lat_lng:
                  type: string
                  description: ''
                  example: et
              required:
                - address
                - lat_lng
  '/api/address/{id}':
    get:
      summary: 'Show One Address'
      description: "This endpoint shows one address\n<aside class=\"success\">Send address's id</aside>"
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: object
                example:
                  id: 3
                  client_id: 2
                  title: Home
                  address: 'USA , LA'
                  lat_lng: ''
                properties:
                  id:
                    type: integer
                    example: 3
                  client_id:
                    type: integer
                    example: 2
                  title:
                    type: string
                    example: Home
                  address:
                    type: string
                    example: 'USA , LA'
                  lat_lng:
                    type: string
                    example: ''
        401:
          description: Unauthenticated
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Addresses
    put:
      summary: 'Edit One Address'
      description: "This endpoint edits one address\n<aside class=\"success\">please send all items </aside>"
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: object
                example:
                  id: 3
                  client_id: 2
                  title: Home
                  address: 'USA , LA'
                  lat_lng: ''
                properties:
                  id:
                    type: integer
                    example: 3
                  client_id:
                    type: integer
                    example: 2
                  title:
                    type: string
                    example: Home
                  address:
                    type: string
                    example: 'USA , LA'
                  lat_lng:
                    type: string
                    example: ''
        401:
          description: Unauthenticated
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Addresses
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                address:
                  type: string
                  description: ''
                  example: null
                title:
                  type: string
                  description: ''
                  example: null
                lat_lng:
                  type: string
                  description: ''
                  example: null
    delete:
      summary: 'Delete One Address'
      description: "This endpoint edits one address\n<aside class=\"success\">Send me the address's id</aside>"
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'address deleted successfully'
                properties:
                  message:
                    type: string
                    example: 'address deleted successfully'
        401:
          description: Unauthenticated
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Addresses
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the address.'
        example: 6
        required: true
        schema:
          type: integer
  /api/cart:
    post:
      summary: 'Create One Cart'
      description: "This endpoint creates one cart\n<aside class=\"success\">pizza_id = selfmade & item_id = Menu Item</aside>"
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: object
                example:
                  id: 1
                  client_id: 2
                  is_pay: false
                  total_price: 180
                  status: pending
                  address: null
                  carts:
                    -
                      id: 1
                      item_id:
                        id: 1
                        item_category_id: 1
                        image: ''
                        available: 1
                        name: peperroni
                        price: '25'
                        description: 'so good'
                        created_at: null
                        updated_at: null
                        deleted_at: null
                      is_menu: true
                      count: 6
                      amount: 150
                properties:
                  id:
                    type: integer
                    example: 1
                  client_id:
                    type: integer
                    example: 2
                  is_pay:
                    type: boolean
                    example: false
                  total_price:
                    type: integer
                    example: 180
                  status:
                    type: string
                    example: pending
                  address:
                    type: string
                    example: null
                  carts:
                    type: array
                    example:
                      -
                        id: 1
                        item_id:
                          id: 1
                          item_category_id: 1
                          image: ''
                          available: 1
                          name: peperroni
                          price: '25'
                          description: 'so good'
                          created_at: null
                          updated_at: null
                          deleted_at: null
                        is_menu: true
                        count: 6
                        amount: 150
                    items:
                      type: object
        422:
          description: 'validation error'
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'The selected pizza id is invalid.'
                  errors:
                    pizza_id:
                      - 'The selected pizza id is invalid.'
                properties:
                  message:
                    type: string
                    example: 'The selected pizza id is invalid.'
                  errors:
                    type: object
                    example:
                      pizza_id:
                        - 'The selected pizza id is invalid.'
        401:
          description: Unauthenticated
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Cart
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                count:
                  type: integer
                  description: ''
                  example: 8
                pizza_id:
                  type: string
                  description: 'This field is required when none of <code>item_id</code> are present.'
                  example: null
                item_id:
                  type: string
                  description: 'This field is required when none of <code>pizza_id</code> are present.'
                  example: null
              required:
                - count
  /api/favorite:
    get:
      summary: 'Show All Favorites'
      description: 'This endpoint shows all of the items that is favorite'
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                example:
                  -
                    id: 1
                    is_menu: true
                    item_id:
                      id: 2
                      item_category_id: 1
                      image: mknjbh
                      available: 1
                      name: peperoni
                      price: '5'
                      description: ';.''lkjihugjhg'
                      created_at: null
                      updated_at: null
                      deleted_at: null
                  -
                    id: 2
                    is_menu: true
                    item_id:
                      id: 2
                      item_category_id: 1
                      image: mknjbh
                      available: 1
                      name: peperoni
                      price: '5'
                      description: ';.''lkjihugjhg'
                      created_at: null
                      updated_at: null
                      deleted_at: null
        401:
          description: Unauthenticated
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Favorite
    post:
      summary: 'Favorite An Item'
      description: "This endpoint favorites an item (Menu item or selfmade pizza)\n <aside class=\"success\">for selfmade send pizza_id\nan if it's menu item send item_id</aside>"
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: object
                example:
                  id: 2
                  is_menu: true
                  item_id:
                    id: 2
                    item_category_id: 1
                    image: mknjbh
                    available: 1
                    name: peperoni
                    price: '5'
                    description: ';.''lkjihugjhg'
                    created_at: null
                    updated_at: null
                    deleted_at: null
                properties:
                  id:
                    type: integer
                    example: 2
                  is_menu:
                    type: boolean
                    example: true
                  item_id:
                    type: object
                    example:
                      id: 2
                      item_category_id: 1
                      image: mknjbh
                      available: 1
                      name: peperoni
                      price: '5'
                      description: ';.''lkjihugjhg'
                      created_at: null
                      updated_at: null
                      deleted_at: null
        422:
          description: 'validation error'
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'The pizza id field is required when none of item id are present. (and 1 more error)'
                  errors:
                    pizza_id:
                      - 'The pizza id field is required when none of item id are present.'
                    item_id:
                      - 'The item id field is required when none of pizza id are present.'
                properties:
                  message:
                    type: string
                    example: 'The pizza id field is required when none of item id are present. (and 1 more error)'
                  errors:
                    type: object
                    example:
                      pizza_id:
                        - 'The pizza id field is required when none of item id are present.'
                      item_id:
                        - 'The item id field is required when none of pizza id are present.'
        401:
          description: Unauthenticated
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Favorite
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                pizza_id:
                  type: string
                  description: 'This field is required when none of <code>item_id</code> are present.'
                  example: null
                item_id:
                  type: string
                  description: 'This field is required when none of <code>pizza_id</code> are present.'
                  example: null
  '/api/favorite/{id}':
    delete:
      summary: 'Unfavorite An Item'
      description: 'This endpoint unfavorites an item (send favorite''s id)'
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'item unfavorited successfully'
                properties:
                  message:
                    type: string
                    example: 'item unfavorited successfully'
        404:
          description: 'not found'
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Not Found!'
                properties:
                  message:
                    type: string
                    example: 'Not Found!'
        401:
          description: Unauthenticated
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Favorite
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the favorite.'
        example: 4
        required: true
        schema:
          type: integer
  /api/panel/landing:
    get:
      summary: 'Show All landings'
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                example:
                  -
                    id: 3
                    type: text
                    key: about_title
                    value: 'about us'
                  -
                    id: 4
                    type: text
                    key: about_title
                    value: 'about us'
      tags:
        - Landing
    post:
      summary: 'create one landing'
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: object
                example:
                  id: 3
                  type: text
                  key: about_title
                  value: 'about us'
                properties:
                  id:
                    type: integer
                    example: 3
                  type:
                    type: string
                    example: text
                  key:
                    type: string
                    example: about_title
                  value:
                    type: string
                    example: 'about us'
        401:
          description: Unauthenticated
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
        403:
          description: 'not allowed'
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Not Allowed.'
                properties:
                  message:
                    type: string
                    example: 'Not Allowed.'
      tags:
        - Landing
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                content_id:
                  type: string
                  description: ''
                  example: null
                key:
                  type: string
                  description: ''
                  example: ex
                type:
                  type: string
                  description: 'Must be one of <code>image</code> or <code>text</code>.'
                  example: text
                value:
                  type: string
                  description: ''
                  example: minima
              required:
                - key
                - type
                - value
  '/api/panel/landing/{id}':
    get:
      summary: 'show one landing'
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: object
                example:
                  id: 3
                  type: text
                  key: about_title
                  value: 'about us'
                properties:
                  id:
                    type: integer
                    example: 3
                  type:
                    type: string
                    example: text
                  key:
                    type: string
                    example: about_title
                  value:
                    type: string
                    example: 'about us'
        404:
          description: 'not found'
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Not Found!'
                properties:
                  message:
                    type: string
                    example: 'Not Found!'
        401:
          description: Unauthenticated
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
        403:
          description: 'not allowed'
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Not Allowed.'
                properties:
                  message:
                    type: string
                    example: 'Not Allowed.'
      tags:
        - Landing
    put:
      summary: 'edit one landing'
      description: "@response scenario=success\n{\n\"id\": 3,\n\"type\": \"text\",\n\"key\": \"about_title\",\n\"value\": \"about us\"\n}"
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        404:
          description: 'not found'
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Not Found!'
                properties:
                  message:
                    type: string
                    example: 'Not Found!'
        401:
          description: Unauthenticated
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
        403:
          description: 'not allowed'
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Not Allowed.'
                properties:
                  message:
                    type: string
                    example: 'Not Allowed.'
      tags:
        - Landing
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                key:
                  type: string
                  description: ''
                  example: null
                value:
                  type: string
                  description: ''
                  example: null
    delete:
      summary: 'delete one landing'
      description: '@response scenario=success {"message" : "landing deleted successfully"}'
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        404:
          description: 'not found'
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Not Found!'
                properties:
                  message:
                    type: string
                    example: 'Not Found!'
      tags:
        - Landing
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the landing.'
        example: 1
        required: true
        schema:
          type: integer
  /api/menu:
    get:
      summary: 'Show all foods in the menu'
      description: 'This endpoint Sends you all foods.'
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: success
          content:
            text/plain:
              schema:
                type: string
                example: "[\n{\n\"id\": 2,\n\"category\": \"pizza\",\n\"image\": \"http://127.0.0.1:8000/storage/mknjbh\",\n\"available\": true,\n\"name\": \"peperoni\",\n\"price\": \"5\",\n\"description\": \"very delicious\"\n},\n{\n\"id\": 3,\n\"category\": \"hamburger\",\n\"image\": \"http://127.0.0.1:8000/storage/AS\",\n\"available\": true,\n\"name\": \"cheeseburger\",\n\"price\": \"6\",\n\"description\": \"delicious\"\n},\n]"
        401:
          description: Unauthenticated
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Menu
  '/api/menu/{id}':
    get:
      summary: 'Show one menu item'
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                example:
                  -
                    id: 2
                    category: pizza
                    image: 'http://127.0.0.1:8000/storage/mknjbh'
                    available: true
                    name: peperoni
                    price: '5'
                    description: 'very delicious'
        404:
          description: 'not found'
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Not Found!'
                properties:
                  message:
                    type: string
                    example: 'Not Found!'
        401:
          description: Unauthenticated
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Menu
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the menu.'
        example: enim
        required: true
        schema:
          type: string
  /api/special_items:
    get:
      summary: 'Show all special items'
      description: "This endpoint sends you foods of the specific category.\n<aside class=\"success\">Send me category id.</aside>"
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                example:
                  -
                    id: 2
                    category: pizza
                    image: 'http://127.0.0.1:8000/storage/mknjbh'
                    available: true
                    is_special: true
                    name: peperoni
                    price: '5'
                    description: 'very delicious'
        401:
          description: Unauthenticated
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Menu
  /api/menu_category:
    get:
      summary: 'Show All Menu''s Category'
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                example:
                  -
                    id: 1
                    image: 'http://127.0.0.1:8000/storage/image.png'
                    name: pizza
                  -
                    id: 2
                    image: 'http://127.0.0.1:8000/storage/jlhv'
                    name: hamburger
        401:
          description: Unauthenticated
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
        403:
          description: 'not allowed'
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Not Allowed.'
                properties:
                  message:
                    type: string
                    example: 'Not Allowed.'
      tags:
        - 'Menu category'
  '/api/menu_category/{id}':
    get:
      summary: 'Show foods of a category in the menu'
      description: "This endpoint sends you foods of the specific category.\n<aside class=\"success\">Send me category id.</aside>"
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: success
          content:
            text/plain:
              schema:
                type: string
                example: "{\n\"pizza\": [\n{\n\"id\": 2,\n\"item_category_id\": 1,\n\"image\": \"\",\n\"available\": 1,\n\"name\": \"peperoni\",\n\"price\": \"5\",\n\"description\": \"good\",\n\"created_at\": null,\n\"updated_at\": null,\n\"deleted_at\": null,\n\"category\": {\n\"id\": 1,\n\"image\": \"\",\n\"name\": \"pizza\",\n\"created_at\": null,\n\"updated_at\": null,\n\"deleted_at\": null\n}\n}\n],\n\"hamburger\": [\n{\n\"id\": 3,\n\"item_category_id\": 2,\n\"image\": \"\",\n\"available\": 1,\n\"name\": \"peperoni\",\n\"price\": \"6\",\n\"description\": \"bad\",\n\"created_at\": null,\n\"updated_at\": null,\n\"deleted_at\": null,\n\"category\": {\n\"id\": 2,\n\"image\": \"\",\n\"name\": \"hamburger\",\n\"created_at\": null,\n\"updated_at\": null,\n\"deleted_at\": null\n}\n},\n]\n}"
        404:
          description: 'not found'
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Not Found!'
                properties:
                  message:
                    type: string
                    example: 'Not Found!'
        401:
          description: Unauthenticated
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - 'Menu category'
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the menu category.'
        example: consequatur
        required: true
        schema:
          type: string
  /api/active_order:
    get:
      summary: Cart
      description: 'This endpoint shows active order'
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: object
                example:
                  id: 2
                  client_id: 1
                  is_pay: false
                  total_price: 0
                  status: null
                  address:
                    id: 1
                    client_id: 1
                    title: l;kjh
                    address: ;klj
                    lat_lng: ''
                  carts: []
                properties:
                  id:
                    type: integer
                    example: 2
                  client_id:
                    type: integer
                    example: 1
                  is_pay:
                    type: boolean
                    example: false
                  total_price:
                    type: integer
                    example: 0
                  status:
                    type: string
                    example: null
                  address:
                    type: object
                    example:
                      id: 1
                      client_id: 1
                      title: l;kjh
                      address: ;klj
                      lat_lng: ''
                  carts:
                    type: array
                    example: []
      tags:
        - Order
  /api/order:
    get:
      summary: 'Order History'
      description: 'This endpoint shows all orders'
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: success
          content:
            text/plain:
              schema:
                type: string
                example: "[\n{\n\"id\": 1,\n\"client_id\": 1,\n\"is_pay\": false,\n\"total_price\": 60,\n\"status\": 'sent',\n\"address\": {\n\"id\": 1,\n\"client_id\": 1,\n\"title\": \"home\",\n\"address\": \"canada\",\n\"lat_lng\": \"\"\n},\n\"carts\": [\n{\n\"id\": 1,\n\"item_id\": {\n\"id\": 2,\n\"item_category_id\": 1,\n\"image\": \"mknjbh\",\n\"available\": 1,\n\"name\": \"peperoni\",\n\"price\": \"5\",\n\"description\": \";.'lkjihugjhg\",\n\"created_at\": null,\n\"updated_at\": null,\n\"deleted_at\": null\n},\n\"is_menu\": true,\n\"count\": 6,\n\"amount\": 30\n},\n{\n\"id\": 2,\n\"item_id\": {\n\"id\": 3,\n\"item_category_id\": 2,\n\"image\": \"AS\",\n\"available\": 1,\n\"name\": \"QWE\",\n\"price\": \"6\",\n\"description\": \"QWE\",\n\"created_at\": null,\n\"updated_at\": null,\n\"deleted_at\": null\n},\n\"is_menu\": true,\n\"count\": 5,\n\"amount\": 30\n}\n]\n},"
        401:
          description: Unauthenticated
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Order
    post:
      summary: 'Add address to cart'
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: object
                example:
                  id: 2
                  client_id: 1
                  is_pay: false
                  total_price: 0
                  status: null
                  address:
                    id: 1
                    client_id: 1
                    title: l;kjh
                    address: ;klj
                    lat_lng: ''
                  carts: []
                properties:
                  id:
                    type: integer
                    example: 2
                  client_id:
                    type: integer
                    example: 1
                  is_pay:
                    type: boolean
                    example: false
                  total_price:
                    type: integer
                    example: 0
                  status:
                    type: string
                    example: null
                  address:
                    type: object
                    example:
                      id: 1
                      client_id: 1
                      title: l;kjh
                      address: ;klj
                      lat_lng: ''
                  carts:
                    type: array
                    example: []
      tags:
        - Order
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                address_id:
                  type: string
                  description: ''
                  example: est
              required:
                - address_id
  /api/panel/users:
    get:
      summary: 'Show Users And Admins'
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                example:
                  -
                    id: 3
                    name: null
                    avatar: null
                    username: null
                    country_id: 1
                    phone: '09358548353'
                    email: nicolas.eric@example.org
                    reset_link: null
                    phone_code: null
                    email_code: bdK8ZIhe3j
                    is_phone_verify: 1
                    is_email_verify: 0
                    is_admin: false
                  -
                    id: 22
                    image: ''
                    name: ziz
                    country_id: 1
                    phone: '9358548353'
                    role: edit
                    is_admin: true
                  -
                    id: 2
                    name: zeinab
                    avatar: files/1649859720-859727325.png
                    username: zizi
                    country_id: 1
                    phone: '2'
                    email: hand.annamarie@example.org
                    reset_link: CzUsyVDrqN
                    phone_code: huJXcMd7rf
                    email_code: EtmzkoYH2R
                    is_phone_verify: 0
                    is_email_verify: 0
                    is_admin: false
        401:
          description: Unauthenticated
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
        403:
          description: 'not allowed'
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Not Allowed.'
                properties:
                  message:
                    type: string
                    example: 'Not Allowed.'
      tags:
        - 'Panel All Users'
  /api/panel/content:
    get:
      summary: 'Show all content'
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                example:
                  -
                    id: 1
                    title: 'about us'
                    description: 'hello , this is our website'
                  -
                    id: 2
                    title: 'about us'
                    description: 'hello , this is our website'
        401:
          description: Unauthenticated
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
        403:
          description: 'not allowed'
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Not Allowed.'
                properties:
                  message:
                    type: string
                    example: 'Not Allowed.'
      tags:
        - 'Panel Content'
    post:
      summary: 'create one content'
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: object
                example:
                  id: 2
                  title: 'about us'
                  description: 'hello , this is our website'
                properties:
                  id:
                    type: integer
                    example: 2
                  title:
                    type: string
                    example: 'about us'
                  description:
                    type: string
                    example: 'hello , this is our website'
        401:
          description: Unauthenticated
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
        403:
          description: 'not allowed'
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Not Allowed.'
                properties:
                  message:
                    type: string
                    example: 'Not Allowed.'
      tags:
        - 'Panel Content'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: ''
                  example: dolor
                description:
                  type: string
                  description: ''
                  example: libero
              required:
                - title
                - description
  '/api/panel/content/{id}':
    get:
      summary: 'Show one content'
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: object
                example:
                  id: 2
                  title: 'about us'
                  description: 'hello , this is our website'
                properties:
                  id:
                    type: integer
                    example: 2
                  title:
                    type: string
                    example: 'about us'
                  description:
                    type: string
                    example: 'hello , this is our website'
        422:
          description: 'validation error'
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'The selected title is invalid.'
                  errors:
                    phone:
                      - 'The selected title is invalid.'
                properties:
                  message:
                    type: string
                    example: 'The selected title is invalid.'
                  errors:
                    type: object
                    example:
                      phone:
                        - 'The selected title is invalid.'
        401:
          description: Unauthenticated
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
        403:
          description: 'not allowed'
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Not Allowed.'
                properties:
                  message:
                    type: string
                    example: 'Not Allowed.'
      tags:
        - 'Panel Content'
    put:
      summary: 'edit one content'
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: object
                example:
                  id: 2
                  title: 'about us'
                  description: 'hello , this is our website'
                properties:
                  id:
                    type: integer
                    example: 2
                  title:
                    type: string
                    example: 'about us'
                  description:
                    type: string
                    example: 'hello , this is our website'
        422:
          description: 'validation error'
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'The selected title is invalid.'
                  errors:
                    phone:
                      - 'The selected title is invalid.'
                properties:
                  message:
                    type: string
                    example: 'The selected title is invalid.'
                  errors:
                    type: object
                    example:
                      phone:
                        - 'The selected title is invalid.'
        401:
          description: Unauthenticated
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
        403:
          description: 'not allowed'
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Not Allowed.'
                properties:
                  message:
                    type: string
                    example: 'Not Allowed.'
      tags:
        - 'Panel Content'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: ''
                  example: null
                description:
                  type: string
                  description: ''
                  example: null
    delete:
      summary: 'delete one content'
      description: '@response scenario=success {"message" : "content deleted successfully"}'
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        401:
          description: Unauthenticated
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
        403:
          description: 'not allowed'
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Not Allowed.'
                properties:
                  message:
                    type: string
                    example: 'Not Allowed.'
        404:
          description: 'not found'
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Not Found!'
                properties:
                  message:
                    type: string
                    example: 'Not Found!'
      tags:
        - 'Panel Content'
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the content.'
        example: 12
        required: true
        schema:
          type: integer
  /api/all_country:
    get:
      summary: 'Show All Countries'
      description: 'This endpoint shows all countries'
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                example:
                  -
                    id: 1
                    image: 'http://127.0.0.1:8000/storage/gvjgvgv'
                    code: '1'
                    name: canada
                  -
                    id: 2
                    image: 'http://127.0.0.1:8000/storage/iji'
                    code: '1'
                    name: USA
      tags:
        - 'Panel Country'
      security: []
  /api/panel/country:
    post:
      summary: 'Create One Country'
      description: 'This endpoint creates one Country'
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: multipart/form-data
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: object
                example:
                  id: 3
                  image: 'http://127.0.0.1:8000/storage/files/1649160294-516619164.png'
                  code: '49'
                  name: germany
                properties:
                  id:
                    type: integer
                    example: 3
                  image:
                    type: string
                    example: 'http://127.0.0.1:8000/storage/files/1649160294-516619164.png'
                  code:
                    type: string
                    example: '49'
                  name:
                    type: string
                    example: germany
        422:
          description: 'validation error'
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'The image field is required.'
                  errors:
                    image:
                      - 'The image field is required.'
                properties:
                  message:
                    type: string
                    example: 'The image field is required.'
                  errors:
                    type: object
                    example:
                      image:
                        - 'The image field is required.'
      tags:
        - 'Panel Country'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                image:
                  type: string
                  format: binary
                  description: 'Must be an image.'
                name:
                  type: string
                  description: ''
                  example: illum
                code:
                  type: integer
                  description: ''
                  example: 13
              required:
                - image
                - name
                - code
  /api/panel/ingredient:
    get:
      summary: 'Show all ingredients'
      description: ''
      parameters:
        -
          in: query
          name: category_id
          description: 'to show ingredients of a category .'
          example: et
          required: false
          schema:
            type: string
            description: 'to show ingredients of a category .'
            example: et
        -
          in: query
          name: count
          description: 'to show last N ingredients  .'
          example: tempora
          required: false
          schema:
            type: string
            description: 'to show last N ingredients  .'
            example: tempora
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                example:
                  -
                    id: 1
                    image: 'http://127.0.0.1:8000/storage/files/1650706364-1792862385.png'
                    name: cheese
                    amount: 200gr
                    price: '5.3'
                    description: null
                  -
                    id: 3
                    image: 'http://127.0.0.1:8000/storage/files/1650706701-287947386.png'
                    name: cheese2
                    amount: 20gr
                    price: '5.3'
                    description: null
        401:
          description: Unauthenticated
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
        403:
          description: 'not allowed'
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Not Allowed.'
                properties:
                  message:
                    type: string
                    example: 'Not Allowed.'
      tags:
        - 'Panel Ingredient'
    post:
      summary: 'Create one ingredient'
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: multipart/form-data
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: object
                example:
                  id: 1
                  image: 'http://127.0.0.1:8000/storage/files/1650706364-1792862385.png'
                  name: cheese
                  amount: 20gr
                  price: '5.3'
                  description: null
                properties:
                  id:
                    type: integer
                    example: 1
                  image:
                    type: string
                    example: 'http://127.0.0.1:8000/storage/files/1650706364-1792862385.png'
                  name:
                    type: string
                    example: cheese
                  amount:
                    type: string
                    example: 20gr
                  price:
                    type: string
                    example: '5.3'
                  description:
                    type: string
                    example: null
        422:
          description: 'validation error'
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'The selected item_category_id is invalid.'
                  errors:
                    item_category_id:
                      - 'The selected item_category_id is invalid.'
                properties:
                  message:
                    type: string
                    example: 'The selected item_category_id is invalid.'
                  errors:
                    type: object
                    example:
                      item_category_id:
                        - 'The selected item_category_id is invalid.'
        401:
          description: Unauthenticated
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
        403:
          description: 'not allowed'
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Not Allowed.'
                properties:
                  message:
                    type: string
                    example: 'Not Allowed.'
      tags:
        - 'Panel Ingredient'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                ingredient_category_id:
                  type: string
                  description: ''
                  example: ipsam
                image:
                  type: string
                  format: binary
                  description: 'Must be an image.'
                name:
                  type: string
                  description: ''
                  example: dolor
              required:
                - ingredient_category_id
                - image
                - name
  '/api/panel/ingredient/{id}':
    get:
      summary: 'Show one ingredient'
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: object
                example:
                  id: 1
                  image: 'http://127.0.0.1:8000/storage/files/1650706364-1792862385.png'
                  name: cheese
                  amount: 20gr
                  price: '5.3'
                  description: null
                properties:
                  id:
                    type: integer
                    example: 1
                  image:
                    type: string
                    example: 'http://127.0.0.1:8000/storage/files/1650706364-1792862385.png'
                  name:
                    type: string
                    example: cheese
                  amount:
                    type: string
                    example: 20gr
                  price:
                    type: string
                    example: '5.3'
                  description:
                    type: string
                    example: null
        404:
          description: 'not found'
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Not Found!'
                properties:
                  message:
                    type: string
                    example: 'Not Found!'
        401:
          description: Unauthenticated
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
        403:
          description: 'not allowed'
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Not Allowed.'
                properties:
                  message:
                    type: string
                    example: 'Not Allowed.'
      tags:
        - 'Panel Ingredient'
    put:
      summary: 'Edit one ingredient'
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: multipart/form-data
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: object
                example:
                  id: 1
                  image: 'http://127.0.0.1:8000/storage/files/1650706364-1792862385.png'
                  name: cheese
                  amount: 20gr
                  price: '5.3'
                  description: null
                properties:
                  id:
                    type: integer
                    example: 1
                  image:
                    type: string
                    example: 'http://127.0.0.1:8000/storage/files/1650706364-1792862385.png'
                  name:
                    type: string
                    example: cheese
                  amount:
                    type: string
                    example: 20gr
                  price:
                    type: string
                    example: '5.3'
                  description:
                    type: string
                    example: null
        422:
          description: 'validation error'
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'The selected phone is invalid.'
                  errors:
                    phone:
                      - 'The selected phone is invalid.'
                properties:
                  message:
                    type: string
                    example: 'The selected phone is invalid.'
                  errors:
                    type: object
                    example:
                      phone:
                        - 'The selected phone is invalid.'
        401:
          description: Unauthenticated
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
        403:
          description: 'not allowed'
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Not Allowed.'
                properties:
                  message:
                    type: string
                    example: 'Not Allowed.'
      tags:
        - 'Panel Ingredient'
      requestBody:
        required: false
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                ingredient_category_id:
                  type: string
                  description: ''
                  example: null
                image:
                  type: string
                  format: binary
                  description: 'Must be an image.'
                name:
                  type: string
                  description: ''
                  example: null
    delete:
      summary: 'Delete one ingredient'
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'ingredient deleted successfully'
                properties:
                  message:
                    type: string
                    example: 'ingredient deleted successfully'
        401:
          description: Unauthenticated
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
        403:
          description: 'not allowed'
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Not Allowed.'
                properties:
                  message:
                    type: string
                    example: 'Not Allowed.'
        404:
          description: 'not found'
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Not Found!'
                properties:
                  message:
                    type: string
                    example: 'Not Found!'
      tags:
        - 'Panel Ingredient'
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the ingredient.'
        example: 8
        required: true
        schema:
          type: integer
  /api/panel/item_ingredient:
    post:
      summary: 'add one ingredient to men item'
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'ingredient deleted successfully'
                properties:
                  message:
                    type: string
                    example: 'ingredient deleted successfully'
        401:
          description: Unauthenticated
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
        403:
          description: 'not allowed'
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Not Allowed.'
                properties:
                  message:
                    type: string
                    example: 'Not Allowed.'
        404:
          description: 'not found'
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Not Found!'
                properties:
                  message:
                    type: string
                    example: 'Not Found!'
      tags:
        - 'Panel Ingredient'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                item_id:
                  type: string
                  description: ''
                  example: unde
                ingredient_id:
                  type: string
                  description: ''
                  example: eaque
                amount:
                  type: string
                  description: ''
                  example: deserunt
              required:
                - item_id
                - ingredient_id
                - amount
  /api/panel/ingredient_category:
    get:
      summary: 'Show All ingredient''s Category'
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                example:
                  -
                    id: 1
                    image: 'http://127.0.0.1:8000/storage/files/1649266130-257876169.png'
                    name: topping
                  -
                    id: 2
                    image: 'http://127.0.0.1:8000/storage/files/1649266284-1299351634.png'
                    name: topping
                  -
                    id: 3
                    image: 'http://127.0.0.1:8000/storage/files/1649266590-1689863156.png'
                    name: topping
        401:
          description: Unauthenticated
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
        403:
          description: 'not allowed'
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Not Allowed.'
                properties:
                  message:
                    type: string
                    example: 'Not Allowed.'
      tags:
        - 'Panel Ingredient Category'
    post:
      summary: 'Create ingredient category'
      description: 'this will create a category in ingredient'
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: multipart/form-data
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: object
                example:
                  id: 2
                  image: 'http://127.0.0.1:8000/storage/files/1649266284-1299351634.png'
                  name: topping
                properties:
                  id:
                    type: integer
                    example: 2
                  image:
                    type: string
                    example: 'http://127.0.0.1:8000/storage/files/1649266284-1299351634.png'
                  name:
                    type: string
                    example: topping
        401:
          description: Unauthenticated
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
        403:
          description: 'not allowed'
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Not Allowed.'
                properties:
                  message:
                    type: string
                    example: 'Not Allowed.'
      tags:
        - 'Panel Ingredient Category'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                image:
                  type: string
                  format: binary
                  description: 'Must be an image.'
                name:
                  type: string
                  description: ''
                  example: numquam
              required:
                - image
                - name
  '/api/panel/ingredient_category/{id}':
    get:
      summary: 'Show one ingredient''s category'
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: object
                example:
                  id: 1
                  image: 'http://127.0.0.1:8000/storage/files/1649266130-257876169.png'
                  name: topping
                properties:
                  id:
                    type: integer
                    example: 1
                  image:
                    type: string
                    example: 'http://127.0.0.1:8000/storage/files/1649266130-257876169.png'
                  name:
                    type: string
                    example: topping
        401:
          description: Unauthenticated
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
        403:
          description: 'not allowed'
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Not Allowed.'
                properties:
                  message:
                    type: string
                    example: 'Not Allowed.'
        404:
          description: 'not found'
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Not Found!'
                properties:
                  message:
                    type: string
                    example: 'Not Found!'
      tags:
        - 'Panel Ingredient Category'
    put:
      summary: 'Edit ingredient''s category'
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: multipart/form-data
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: object
                example:
                  id: 1
                  image: 'http://127.0.0.1:8000/storage/files/1649266130-257876169.png'
                  name: topping
                properties:
                  id:
                    type: integer
                    example: 1
                  image:
                    type: string
                    example: 'http://127.0.0.1:8000/storage/files/1649266130-257876169.png'
                  name:
                    type: string
                    example: topping
        401:
          description: Unauthenticated
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
        403:
          description: 'not allowed'
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Not Allowed.'
                properties:
                  message:
                    type: string
                    example: 'Not Allowed.'
        404:
          description: 'not found'
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Not Found!'
                properties:
                  message:
                    type: string
                    example: 'Not Found!'
      tags:
        - 'Panel Ingredient Category'
      requestBody:
        required: false
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                image:
                  type: string
                  format: binary
                  description: 'Must be an image.'
                name:
                  type: string
                  description: ''
                  example: null
    delete:
      summary: 'Delete ingredient''s category'
      description: '@response scenario=success {"message" : "ingredient category deleted successfully"}'
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        401:
          description: Unauthenticated
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
        403:
          description: 'not allowed'
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Not Allowed.'
                properties:
                  message:
                    type: string
                    example: 'Not Allowed.'
        404:
          description: 'not found'
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Not Found!'
                properties:
                  message:
                    type: string
                    example: 'Not Found!'
      tags:
        - 'Panel Ingredient Category'
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the ingredient category.'
        example: culpa
        required: true
        schema:
          type: string
  /api/panel/menus:
    get:
      summary: 'Show All Menu'
      description: "to get items of a category use :\n <aside class=\"success\">{url}/api/panel/menus?category_id=5</aside>"
      parameters:
        -
          in: query
          name: category_id
          description: 'to show items of a category .'
          example: fuga
          required: false
          schema:
            type: string
            description: 'to show items of a category .'
            example: fuga
        -
          in: query
          name: count
          description: 'to show last n items  .'
          example: voluptatem
          required: false
          schema:
            type: string
            description: 'to show last n items  .'
            example: voluptatem
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: success
          content:
            text/plain:
              schema:
                type: string
[...]
